* {
    margin: 0;
    padding: 0;
    background-color: rgba(199, 199, 199, 0.184);
}

h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    padding: 30px;
}

img {
    width: 100%; 
    height: 100%;
    border-radius: 10px;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 3em;
    background-color: rgba(255, 0, 0, 0.273);
    transition: 1.3s;
    border-radius: 20px;
}

a:hover {
    background-color: rgba(255, 0, 0, 0.66);
    transition: 1.3s;
}